<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="../../../../AppSettingsSecrets.config">
    <add key="webcon:username" value="" />
    <add key="webcon:password" value="" />
    <add key="webcon:url" value="" />
    <add key="webcon:testwf:formid" value="" />
    <add key="webcon:testwf:wfid" value="" />
  </appSettings>
</configuration>